<div class="ui inverted segment">
    <div class="ui large orange inverted secondary pointing menu">
        <div class="ui container">
            <a class="active white item" href="/">
              Dashboard
            </a>
            <a class="white item">
              Messages
            </a>
            <a class="white item">
              Profile
            </a>
            <div class="right white menu">
              <a href="/logout" class="item">
                  Logout
              </a>
            </div>
        </div>
    </div>
</div>