<% include ./partials/header %>
<% include ./partials/menu %>

	<h1 class="ui grey inverted header">Hello <%= user.firstName %>!</h1>
	<h2 class="ui grey inverted header">This is your Dashboard</h2>
	
	<br/>
	<br/>
	<br/>

	<h2 class="ui grey inverted center aligned header">EXPENSES</h2>

	<br/>
	<br/>
	<br/>

	<table class="ui basic 4 column inverted striped table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Category</th>
                <th>Subcategory</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <% user.expenses.forEach(function(){ %>
            	<tr>
					<td><% user.expenses.date %></td>
					<td><% user.expenses.category %></td>
					<td><% user.expenses.subcategory %></td>
					<td><% user.expenses.amount %></td>
				</tr>
            <% }) %>
        </tbody>
    </table>

<% include ./partials/footer %>