<% include ./partials/header %>

<div class="flexbox">
	<div class="ui container">
		<form class="ui form" method="POST" action="/login">
			<div class="field">
				<input type="text" name="username" placeholder="Username">
			</div>
			<div class="field">
				<input type="password" name="password" placeholder="Password">
			</div>
			<button class="ui fluid inverted button orange" type="submit">Log in</button>
		</form>
		<p class="subtitle">Don't have an account? <a href="/register">Register Here.</a></p>
	</div>
</div>

<% include ./partials/footer %>